aiohttp==3.9.5
aiofiles==24.1.0
replicate==0.24.0
numpy==1.26.4
pillow==9.4.0
pysrt==1.1.2
loguru==0.7.2
python-dotenv==1.0.1
pydantic==2.7.4
tenacity==8.2.3
pytest-cov==5.0.0
pytest==8.1.1
pytest-xdist==3.6.1
pytest-asyncio==0.23.7
typing_extensions==4.12.2
pandas==2.2.2